* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	outline: none;
}

body {
	direction: rtl;
	font-family: "Vazir" !important;
	background-color: #f8f8f8 !important;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	box-shadow: 0 0 10px rgba(117, 117, 117, 0.3);
	height: 65px;
	padding: 0 20px;
	position: relative;
}

.container {
	width: 1400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}

.nav-logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5rem;
}

.nav-logo .nav-toggle {
	background: transparent;
	border: 0;
	width: 40px;
	height: 40px;
	font-size: 27px;
	cursor: pointer;
	display: none;
}

.nav-links {
	transition: all 0.3s ease;
}

.nav-links .list {
	display: flex;
	align-items: center;
	list-style: none;
}

.nav-links .list li {
	margin: 0 10px;
}

.nav-links .list li a {
	color: #333;
	font-size: 17px;
}

.nav-social {
	display: flex;
	list-style: none;
}

.nav-social li {
	margin-left: 10px;
}

@media screen and (max-width: 768px) {
	.nav-logo {
		width: 100%;
	}

	.nav-logo .nav-toggle {
		display: block;
	}

	.nav-links {
		position: absolute;
		right: 0;
		left: 0;
		top: 65px;
		height: 300px;
		background: #fff;
		border-top: 1px solid rgb(245, 245, 245);
		height: 0;
		overflow: hidden;
		z-index: -1;
	}

	.nav-links .list {
		display: block;
	}

	.nav-links .list li {
		padding: 15px 20px;
	}

	.nav-social {
		display: none;
	}

  .active {
    height: 13rem;
  }
}
